* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    padding: 0 auto;
    margin-top: 46px;
    overflow: auto;
    padding: 0 40px;
    position: absolute;
}

body{
    background-color: #181719;
    color: #fff;
    line-height: 1.6;
    margin: auto;
}

.navbar-logo {
    font-family: 'Crimson Pro', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 8px 20px;
    cursor: pointer;
    border: solid #fff 1px;
    background-color: #181719;
    color: #fff;
}

.btn:hover {
    transform: scale(0.98);
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar li {
    padding: 0 43px;
}

.navbar a {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700, bold;
}
 a:hover {
   border-bottom: 2px solid #fff;
   width: 50%;
}

/* Main */

.main {
    display: flex;
}

.text {
    margin-top: 305px;
    width: 410px;
    margin-right: 80px;
}

h1 {
    font-size: 45px;
    font-family: 'Lora', sans-serif;
    font-weight: 500;
}

.text p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 40px;
}

.text a {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 bold;
}

i {
    margin-left: 4px;
    margin-top: 1px;
}

.text 
a
i {
    animation: slide 1s ease-in-out infinite;
    margin-left: 9px;
      
}

@keyframes slide {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(10px, 0);
    }
  }

.img img {
    position: relative;
width: 800.11px;
height: 550.53px;
margin-top: 145px;
}
 

.profile {
    border-radius: 12px;
    display: flex;
    background: #181719;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
width: 410px;
height: 189px;
z-index: 5;
position: relative;
left: 300px;
top: -108px;
}


.profile img {
    width: 85px;
    height: 75px;
    border-radius: 50%;
    position: relative;
    left: 5px;
    top: -140px;
    margin-right: 20px;
    margin-left: 15px;
}

.name h5 {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 medium;
}

.name h6 {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 medium;
    color: #828282;
}

.side p {
    font-size: 24px;
    font-family: 'Lora', sans-serif;
    font-weight: 700 bold;
    width: 237px;
height: 62px;
margin-top: 35px;
}


footer {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 bold;
    color: #A9A9A9;
    text-align: center;
    margin-bottom: 24px;
}

footer a {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700 bold;
    color: #A9A9A9;
    text-align: center;
}

footer a:hover {
    border-bottom: 2px solid #A9A9A9;
}

/* Media Queries */
/* Tablets */

/* Mobile */
@media(max-width:500px){
    .container{
        max-width: 500px;
        margin-left: 12px;
        margin-right: 12px;
        margin-top: 19px;
        margin-bottom: 24px;
        padding: 0;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        /* overflow: hidden;
        position: relative; */
    }

    .menu {
        /* display: none; */
            position: fixed;
            transform: translateY(-100%);
            transition: transform 0.2s;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 99;
            background: black;
            color: white;
            list-style: none;
            padding-top: 4rem;
    }

    .showMenu {
        transform: translateY(0);
          
    }


    .navbar a {
        color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        color: #fff;
        background: #181719;
        cursor: pointer;
      }

      .navbar nav .closeIcon {
          display: none;
      }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .main {
        display: flex;
        flex-direction: column;
    }
    
     .text {
        margin-top: 38px;
        width: 300px;
        margin-right: 20px;
    }
    
     h1 {
        font-size: 42px;
    }
     
    .text p {
        font-size: 14px;
        margin-bottom: 25px;
        margin-top: 25px;
        width: 300px;
        height: 90px;
    }

    .text a {
        font-size: 14px;
    } 

    .img img {
      position: relative;
     width: 391.06px;
    height: 279.34px;
    margin-top: 145px;
    }

    .profile {
    border-radius: 8px;
    width: 300px;
    height: 138px;
    z-index: 5;
    position: relative;
    left: 48px;
    top: -70px;
    }
    
    
    .profile img {
        width: 62.2px;
        height: 52.68px;
        border-radius: 50%;
        position: relative;
        left: 5px;
        top: -140px;
        margin-right: 20px;
        margin-left: 15px;
    }
    
    .name h5 {
        font-size: 14px;
    }
    
    .name h6 {
        font-size: 12px;
    }
    
    .side p {
    position: absolute;
    font-size: 18px;
    width: 210px;
    height: 45px;
    margin-top: 25px;
    left: 71px;
    
    }

    footer {
        font-weight: 500;
        color: #A9A9A9;
        text-align: center;
        margin-bottom: 24px;
    }

    footer a {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        color: #A9A9A9;
        text-align: center;
    }
}